*{
  margin: 0px;
  padding: 0px;
}
body {
 background-color: #ffc0d6; 
 text-align: center;
}

.portfolio {
  background-color: #adebb3c8;
}
h1 {
    margin-top: 5%;
  color: #D2042D;
  text-align: center;
  padding-bottom: 10px;
  font-family: "love";
  font-size: 60px;
}

#my-picture{
  border-radius: 50%;
  max-width: 20%;
  border: 2px solid black;
  margin: 2%;
}

main{
    margin: 3%;
  padding-left:5%;
  padding-right: 5%;
  text-align:left;
  font-size: 25px;
  font-family: "vogue";
}

ul {
    list-style-type: none;
    background-color:#ffede8;
  border: 2px solid black;
  overflow: hidden;
  padding: 20px;
}
li{
    display: inline;
}

li a {
    color: #D2042D;
    text-decoration: none;
    font-size: 1.3em;
    padding: 1em;
}

li a:hover {
    background-color: #D2042D;
    color:white;
}

@font-face {
    font-family: "love";
    src: url(fonts/Singlove.otf);
}

.subtitle {
  font-family: "Love";
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 5%;
  animation: bounce 2s infinite;
  color: #D2042D;
}

@keyframes bounce {
  0% {transform:translateY(0);}
  25%{transform: translateY(10px);}
  50%{transform: translateY(20px);}
  75%{transform: translateY(10px);}
}

#me-information {
  font-family: "vogue";
  font-size: 20px;
  margin-top: 3%;
}

@font-face {
  font-family: "vogue";
  src: url(fonts/Classyvogueregular.ttf);
}

.about-me {
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
  line-height: 250%;
}

.titles {
  font-family: "love";
  font-size: 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.titles:hover {
  transform: translateY(-15px);
}

#welcome {
  margin-top: 3%;
  font-weight: bold;
  font-size: 25px;
}

.project-image {
  max-width: 30%;
  border-radius: 20px;
}

.p-projects {
  margin-top: 3%;
  font-family: "vogue";
  display: block;
  justify-content: space-around;
}

.project-link {
  text-decoration: none;
  display: block;
  color:black;
}

.line{
  display: inline;
}
